// css variables

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --white: #fff

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3); //x y blur opacity;
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.6);

  --line: 1px solid var(--color-grey-light-2); // width type color
}

* {
  margin: 0;
  padding: 0;
  //always set this up when you start to write css / scss
}

*, 
*::after, 
*::before {
  box-sizing: inherit; // this inherist from the html box-sizing
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px 
  // 10px(what we want)/16px(default)=.625 or 62.5%, makes it easier to work in rem.    
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; // this prevenrt the body from repeating a gradient action, so it will only happen once

  min-height: 100vh; // here we say make the body fit the screen, but if the body is bigger, it will also expand along with it
}

