.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: --shadow-dark; // look at base for infor
  min-height: 50rem;
}

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff; // means white
  border-bottom: var(--color-grey-light-2);


  display: flex; // we set the flex for the children to behave how we want it
  justify-content: space-between; // this equally divied the space between the children of this parent element, pushes all off them to an extreme of side
  align-items: center; // we ake the item cenetered on their x or y coordinate
}

.content {
  display: flex; // here we start flex property, and it makes its vhildren elements into boxes, and we will have our 
  // .sidebar and and .hotel-view properties side by side (this 'content' is the parent)
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 16%; //no growth if there is space, no shrink if there is no enough space, and basis alyways at 18%
}

.hotel-view {
  background-color: #fff; // means white
  background-color: blue;
  flex: 1; // so here we allow this element to grow as much as it can (full up its parent, so this comes after the side bar)
} 